<div class="max-w-md mx-auto mt-8 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-white">
      {{ isEditMode ? 'Edit' : 'Add' }} Credential
    </h2>
  
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="space-y-4">
      <input [(ngModel)]="credential.title" name="title" required placeholder="Title"
             class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white" />
  
      <input [(ngModel)]="credential.username" name="username" required placeholder="Username"
             class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white" />
  
      <input [(ngModel)]="credential.description" name="description" placeholder="Description"
             class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white" />
  
      <input [(ngModel)]="credential.password" name="password" type="password" required placeholder="Password"
             class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white" />
  
      <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
  
      <button type="submit" [disabled]="loading" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        {{ loading ? 'Saving...' : 'Save' }}
      </button>
    </form>
    <a
      routerLink="/credentials"
      class="mt-6 inline-block text-blue-600 dark:text-blue-400 hover:underline"
    >
      ← Back to list
    </a>

  </div>
  